@*@model E_market.Models.Product*@
@model E_market.ViewModels.ProductCategoryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd style="/*float:left;*/
                 background-color:lightblue;
                 margin-left:350px;
                 margin-right:350px;
                 text-align:center;
                padding:5px;">
            @Html.DisplayFor(model => model.Product.Name) -
            @Html.DisplayFor(model => model.Product.Price)EGP 
            @*@Html.DisplayFor(model => model.Product.Categoryid,new SelectList(Model.Categories, "id", "name"))*@
            @Html.DropDownListFor(model => model.Product.Categoryid, new SelectList(Model.Categories, "id", "name"), new { htmlAttributes = new { @class = "form-control" } })

        </dd>

        <br />

        <div style="margin-top:auto;
                  /*padding-top:2px;*/
                  margin-left:400px;
                  margin-bottom:30px;">

            <img src="@Url.Content("~/Uploads/" + Model.Product.Image)" width="300" height="200" class="center" top=100px margin=25px10px display=inline-block />
            @*@Html.DisplayFor(model => model.Image)*@
        </div>
        >

        <dd style="margin-left:320px;
                 margin-right:350px;
                 text-align:center">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Product.category)
            </dt>

            <dd>
                @Html.DropDownListFor(model => model.Product.Categoryid, new SelectList(Model.Categories, "id", "name"), new { htmlAttributes = new { @class = "form-control" } })
            </dd>*@


        <div style="overflow: hidden;
             margin-left:320px;
                 margin-right:350px;
                 text-align:center;
                  margin-top:30px;">

            @Html.ActionLink("Update", "Edit", new { id = Model.Product.id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Product.id }, new { @class = "btn btn-primary" })

    </dl>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Product.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Product.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
