@model IEnumerable<E_market.Models.Product>
@using E_market.Models
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<div>

    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <input value="Filter" type="submit" />
        @Html.TextBox("searching")
    }

</div>
<br />

<button style="overflow: hidden;
             /*margin-left:300px;*/
             /*margin-right:350px;*/
            margin-top:0px;
            padding-top:5px;
            padding-bottom:5px;
            padding-left:15px;
            padding-right:15px;">
    @Html.ActionLink("ADD", "Create", new { @class = "btn btn-primary" })
</button>



<br />
<br />


<div class="container">
    <h2 class="text-center">Product List</h2>
    <br />
    <br />
    <div class="modal" id="CARTLIST" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="text-align:center">CART LIST</h2>
                </div>
                <div class="modal-body">
                    @if (Session["cart"] != null)

                    {
                        foreach (var item in (List<Cart>)Session["cart"])
                        {
                            <div style="border: 2px solid black;float: inherit">
                                <button type="button" style="border: 2px solid black;float: left">Remove</button>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Product.Name)-@Html.DisplayFor(modelItem => item.Product.Price)EGP <br>Added To Cart @DateTime.Now.Subtract(item.added_at)ago
                                </p>
                                @*<p style="border: 2px solid black;float: right">@Html.DisplayFor(modelItem => item.Product.Name)-@Html.DisplayFor(modelItem => item.Product.Price)EGP</p>
                    <p style="border: 2px solid black;float: right">Added To Cart ago </p>*@
                            </div>
                        }
                    }

                    @*@foreach (var item in Model)
        {
            <div style="border: 2px solid black;float: inherit">
            <button type="button" style="border: 2px solid black;float: left">Remove</button>
            <p>@Html.DisplayFor(modelItem => item.Name)-@Html.DisplayFor(modelItem => item.Price)EGP <br> Added To Cart ago</p>

            </div>
        }*@

                </div>
                        </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        double Price = Convert.ToInt32(item.Price);
        <div class="col-md-3" style="margin-bottom:25px">
            <div class="thumbnail">
                <div class="image">
                    <a href='@Url.Action("Details", "Products",new { id = item.id })'>

                        <img class="img-responsive" src="~/Uploads/@item.Image" height="350" width="240" />
                    </a>
                </div>
                <div class="caption" style="border-top:3px solid #808080">
                    <h3><a href="#">@item.Name</a></h3>
                    <h4>@Price.ToString("F2")EGP</h4>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.id })

                    @using (Html.BeginForm("AddToCart", "Products", new { product_id = item.id }, FormMethod.Post))

                    {<p><button class="right">Add to Cart</button></p>}
                </div>
            </div>
        </div>
    }
</div>




@*@model IEnumerable<E_market.Models.Product>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
