@using E_market.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="modal" id="CARTLIST" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" style="text-align:center">CART LIST</h2>
                </div>
                <div class="modal-body">
                    @if (Session["cart"] != null)

                    {
                        foreach (var item in (List<Cart>)Session["cart"])
                        {
                            <div style="border: 2px solid black;float: inherit">
                                <button type="button" style="border: 2px solid black;float: left">Remove</button>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Product.Name)-@Html.DisplayFor(modelItem => item.Product.Price)EGP <br>Added To Cart 
                                    @Html.Action("calculated", "Product", item.added_at) ago
                                      
                                </p>


                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">cart(3) <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @if (Session["cart"] != null)

                {
                    foreach (var item in (List<Cart>)Session["cart"])
                    {
                        <li><a href="#">@item.Product.Name </a></li>

                    }
                }

                <!--<li><a href="#">IT</a></li>-->
            </ul>
        </li>
    </ul>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
